:root {
  /* palette */
  --base-color: #FCF9DC;
  --base-color-s1: #E3E0C5;
  --base-color-s2: #BDBAA4;
  --base-color-s3: #7D7B6D;
  --base-color-s4: #3D3C35;
}

@import url(https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic);

* {
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
  font: inherit;
  font-size: 100%;
	vertical-align: baseline;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}

p {
  font-size: 0.9em;
}
li {
  list-style: none;
}

body {
  background-color: var(--base-color);
  font-family: 'Lato', Helvetica, sans-serif;
  color: var(--base-color-s4);
  text-align: center;
  box-sizing: border-box;
}

a, 
a:visited {
  text-decoration: none;
  color: var(--base-color-s4);

}

a:visited, a:focus {
  color: var(--base-color-s4);
}

a:hover {
  color: var(--base-color-s4);
}

nav {
  display: inline-block;
  height: 80px;
  padding-top: 20px;
}

nav a {
  padding-left: 10px;
  padding-right: 10px;
}

.product-square {
  background-color: var(--base-color-s2);
  height: 150px;
  width: 150px;
}

/* flex grid */

.grid {
  display: flex;
  justify-content: space-between; /* for gutters */ 
}

@media (max-width: 400px) {
  .grid {
    display: block;
  }
}

.col {
  /*flex: 1;
  */
  margin-top: 10%;
  margin-left: 50px;
  margin-right: 50px;
}
