:root {
  /* palette */
  --base-color-contrast: #522d13;
  --base-color-brown: #CB936B;
  --base-color-black: #110a04;
  --base-color: #FCF9DC;
  --base-color-s1: #E3E0C5;
  --base-color-s2: #BDBAA4;
  --base-color-s3: #7D7B6D;
  --base-color-s4: #3D3C35;
}


/*
@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Josefin+Sans:ital,wght@0,300;0,700;1,300;1,700&family=Karla&display=swap');
/*
    font-family: 'Cabin', sans-serif;

    font-family: 'Josefin Sans', sans-serif;

    font-family: 'Karla', sans-serif;
*/
* {
  box-sizing: border-box;
}


html {
  overflow-x: scroll;
  overflow-y: scroll;
}


body {
  padding-left: calc(100vw - 100%);
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
  font: inherit;
  font-size: 100%;
	vertical-align: baseline;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Josefin Sans', sans-serif;

  font-weight: 700; /* or 300, test */
}

p {
  font-family: 'Cabin', sans-serif;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.6;
  text-align: left;

}

li {
  list-style: none;
}

body {
  background-color: var(--base-color);
  font-family: 'Cabin', sans-serif;
  color: var(--base-color-s4);
  text-align: center;
  box-sizing: border-box;
}

a, 
a:visited {
  text-decoration: none;
  color: var(--base-color-s4);

}

a:visited, a:focus {
  color: var(--base-color-s4);
} 

a:hover {
  color: var(--base-color-s4);
}

/* layout */
.mobile-menu {
  opacity: 0; /* toggled by gsap */
  position: fixed;
  background: var(--base-color);
  width: 100vw;
  height: 100vh;
  z-index: -1; /* toggled by gsap */
}

.mobile-nav-items {
  display: absolute;
  margin-top: 40vh;
  font-size: 1.5rem;
}

.mobile-nav-items a {
  padding-bottom: 40px;
}

.bread {
  cursor: pointer;
  position: fixed;
  display: none;
  top: 70px;
  right: 50px;
  z-index: 9999;
}

@media(max-width: 890px) {
  .bread {
    display: block;
  }

  .nav-items {
    display: none;
    opacity: 0;
  
  }

  .nav-social {
    display: none;
    opacity: 0;
  }
}

.ham {
  position: relative;
  display: flex;
  border-style: none;
  width: 50px;
  height: 50px;
  align-items: center;
  justify-content: center;
  border: 3px solid transparent;
  z-index: 9998;
}

.burger_1,
.burger_2,
.burger_3 {
  position: absolute;
  width: 25px;
  height: 3px;
  background: var(--base-color-s4);
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  z-index: 9999;
}


.burger_2 {
  top: 15px;
  /*transform: translateY(-9px);*/
}

.burger_3 {
  bottom: 15px;
  /*transform: translateY(5px);*/
}

.sticky-navbar {
  position: sticky;
  margin-bottom: 110px;
}

.navbar {
  position: relative;
  width: 100vw;
  height: 110px;
  display: inline-block;
  background-color: var(--base-color);
}

.nav-items {
  position: absolute;
  display: inline-block;
  left: 60px;
  top: 80px;
}

.nav-social {
  position: absolute;
  display: inline-block;
  top: 60px;
  right: 50px;
}

nav a {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 500;
  padding-left: 10px;
  padding-right: 10px;
}

.logo {
  width: 100%;
  max-width: 110px;
  height: auto;
  padding: 0px 0px 0px 0px;
  /* top right bottom left */
}

@media only screen and (max-width: 1050px) {
  .logo {
    margin: 0px 25vw 0px 25vw;
  }
}

@media only screen and (max-width: 768px) {
  .logo {
    margin: 0px 15vw 0px 15vw;
  }
}

@media only screen and (max-width: 425px) {
  .logo {
    margin: 0px 1vw 0px 1vw;
  }
}

.social {
  width: 100%;
  max-width: 40px;
  height: auto;
}

.cart {
  width: 100%;
  max-width: 20px;
  height: auto;
}

/* layout */

/* main line page */ 
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 40px;
  /*margin-top: 20px;*/
}

.column {
  flex: 25%;
  /*flex: 33.33333%;*/

}

.line-square {
  display: inline-flex;
  position: relative;
  background-color: var(--base-color-s2);
  width: 350px;
  height: 450px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.main {
  max-width: 100vw;
}

.grid {
  display: inline-block;
}

@media (max-width: 400px) {
  .grid {
    display: block;
  }
}
/* main line page */ 

/* prod Page */

.square-grid {
  position: absolute;
  margin-right: 50px;
}
.square {
  cursor: pointer;
  display: inline-flex;
  align-content: center;
  width: 125px;
  height: 125px;
  background: var(--base-color-s4);
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 50px;
}
/* prod page */




/* about page */
.about-row {
  display: inline-flex;
  margin-top: 50px;
  width: 70%;
  align-items: center;
  justify-content: center;
  /*flex-direction: row;*/
  flex-flow: row nowrap;
  flex-basis: auto;
}

.about-image {
  position: relative;
  width: 300px;
  height: 400px;
  background: var(--base-color-s4);
  flex-shrink: unset;
}

.about-image::before {
  content: "";
  position: absolute;
  display: inline-block;
  width: 300px;
  height: 400px;
  border: 2px solid var(--base-color-brown);
  right: 20px;
  bottom: 20px;
  z-index: -1;
  background-image: url(https://i.imgur.com/0kkXXFj.png);
}


.about-img {
  position: relative;
  top: 120px;
  right: 50px;
  width: 450px;
  height: auto;
  transform: rotate(-90deg);
}
.about-text {
  position: relative;
  width: 60%;
  padding-left: 50px;
}

.about-text::before {
  content: "";
  position: absolute;
  display: inline-block;
  width: 2px;
  height: 99%;
  background: var(--base-color-brown);
  left: 29px;
}

.about-highlight {
  font-size: 30px;
  font-weight: 800;
}

.about-porque {
  font-size: 16px;
  font-weight: 400;
}

/* later skater
@media screen and (min-width: 800px) {
  .about-image,
  .about-text {
   
  }
}
*/
/* about page */ 
/* cart page */ 

.cart-row {
  display: flex;
  width: 80%;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
  justify-content: left;
  margin: 50px auto 0 auto;
}

.page-header {
  position: relative;
  font-size: 1.3em;
  margin-bottom: 70px;
}

.page-header h1 {
  position: absolute;
  font-weight: 400;
}

.cart-button {
  position: fixed;
  display: block;
  bottom: 70px;
  right: 100px;
  width: 150px;
  height: 50px;
  border-style: none;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.3em;
  font-weight: 400;
  color: var(--base-color);
  background: var(--base-color-brown);
  box-shadow: 2.11px 2.11px 7px var(--base-color-s2);
}

.cart-total {
  position: fixed;
  display: inline-block;
  bottom: 150px;
  right: 100px;
  width: 150px;
  height: 50px;
  border: 1px solid var(--base-color-brown);
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.3em;
  font-weight: 400;
  color: var(--base-color-brown);
  background: var(--base-color);
  box-shadow: 2.11px 2.11px 7px var(--base-color-s2);
}

.cart-total p {
  position: relative;
  top: 7px;
  left: 10px;
}

.total-price {
  position: relative;
  display: inline-flex;
  bottom: 18px;
  left: 34px;
  font-size: 1.0em;
  font-weight: 400;
  color: var(--base-color-brown);
}

.item {
  display: inline-flex;
  width: 100%;
  height: 100px;
  padding: 5px 10px 5px 10px; 
}

.item-image {
  position: relative;
  bottom: 15px;
  left: 30px;
  width: 50px;
  height: 50px;
  background: var(--base-color-s3);
}

.price {
  position: relative;
  display: inline-flex;
  top: 1px;
  font-size: 1.2em;
  font-weight: 400;
  color: var(--base-color-brown);
  left: 70%;
}

.actual-price {
  position: relative;
  color: var(--base-color-contrast);
  font-weight: 700;
  left: 4px;
}

.item::after {
  content: "";
  position: relative;
  display: inline-block;
  top: 60px;
  right: 120px;
  width: 100%;
  height: 2px;
  background: var(--base-color-brown);
}


/* cart page */ 